/* ======================================================================================================================== 
** 
** Variable Grid System (Fluid Version).
** Learn more ~ http://www.spry-soft.com/grids/
** Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
** 
** Licensed under GPL and MIT.
**
** ======================================================================================================================== */
body {
  min-width: 768px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 768px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12 {
  position: relative;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .grid-1 {
  width: 48px;
}

.container-12 .grid-2 {
  width: 112px;
}

.container-12 .grid-3 {
  width: 176px;
}

.container-12 .grid-4 {
  width: 240px;
}

.container-12 .grid-5 {
  width: 304px;
}

.container-12 .grid-6 {
  width: 368px;
}

.container-12 .grid-7 {
  width: 432px;
}

.container-12 .grid-8 {
  width: 496px;
}

.container-12 .grid-9 {
  width: 560px;
}

.container-12 .grid-10 {
  width: 624px;
}

.container-12 .grid-11 {
  width: 688px;
}

.container-12 .grid-12 {
  width: 752px;
}

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .prefix-1 {
  padding-left: 64px;
}

.container-12 .prefix-2 {
  padding-left: 128px;
}

.container-12 .prefix-3 {
  padding-left: 192px;
}

.container-12 .prefix-4 {
  padding-left: 256px;
}

.container-12 .prefix-5 {
  padding-left: 320px;
}

.container-12 .prefix-6 {
  padding-left: 384px;
}

.container-12 .prefix-7 {
  padding-left: 448px;
}

.container-12 .prefix-8 {
  padding-left: 512px;
}

.container-12 .prefix-9 {
  padding-left: 576px;
}

.container-12 .prefix-10 {
  padding-left: 640px;
}

.container-12 .prefix-11 {
  padding-left: 704px;
}

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .suffix-1 {
  padding-right: 64px;
}

.container-12 .suffix-2 {
  padding-right: 128px;
}

.container-12 .suffix-3 {
  padding-right: 192px;
}

.container-12 .suffix-4 {
  padding-right: 256px;
}

.container-12 .suffix-5 {
  padding-right: 320px;
}

.container-12 .suffix-6 {
  padding-right: 384px;
}

.container-12 .suffix-7 {
  padding-right: 448px;
}

.container-12 .suffix-8 {
  padding-right: 512px;
}

.container-12 .suffix-9 {
  padding-right: 576px;
}

.container-12 .suffix-10 {
  padding-right: 640px;
}

.container-12 .suffix-11 {
  padding-right: 704px;
}

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .push-1 {
  left: 64px;
}

.container-12 .push-2 {
  left: 128px;
}

.container-12 .push-3 {
  left: 192px;
}

.container-12 .push-4 {
  left: 256px;
}

.container-12 .push-5 {
  left: 320px;
}

.container-12 .push-6 {
  left: 384px;
}

.container-12 .push-7 {
  left: 448px;
}

.container-12 .push-8 {
  left: 512px;
}

.container-12 .push-9 {
  left: 576px;
}

.container-12 .push-10 {
  left: 640px;
}

.container-12 .push-11 {
  left: 704px;
}

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .pull-1 {
  left: -64px;
}

.container-12 .pull-2 {
  left: -128px;
}

.container-12 .pull-3 {
  left: -192px;
}

.container-12 .pull-4 {
  left: -256px;
}

.container-12 .pull-5 {
  left: -320px;
}

.container-12 .pull-6 {
  left: -384px;
}

.container-12 .pull-7 {
  left: -448px;
}

.container-12 .pull-8 {
  left: -512px;
}

.container-12 .pull-9 {
  left: -576px;
}

.container-12 .pull-10 {
  left: -640px;
}

.container-12 .pull-11 {
  left: -704px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}

/* grid  */
body.show-grid .container-12 {
  background: url(960/grid720.png) repeat-y top center !important;
}

/* ==========================================================================
   Tablet Override
   ========================================================================== */

.togglenav {
  display:none;
}
footer #zone-footer #region-footer-first.grid-3 {
  width: 210px;
}
footer #zone-footer #region-footer-second.grid-9 {
  width: 525px;
}
footer #zone-footer #region-footer-second.grid-9 #block-menu-block-6{
  width: 300px;
}
#zone-postscript-wrapper {
  overflow:hidden;
  display:block;
  min-height: 200px;
}
#zone-postscript-wrapper .region-postscript-third,
#zone-postscript-wrapper .region-postscript-third #block-block-1 {
  width: 150px;
}
#zone-postscript-wrapper .region-postscript-fourth #block-block-2 {
  width: 190px;
}
#zone-postscript-wrapper .region-postscript-third .block-block p,
#zone-postscript-wrapper .region-postscript-fourth .block-block p,
#zone-postscript-wrapper .region-postscript-fifth .block-block p,{
  font-size: 11px;
}
#zone-pre-postscript .grid-6 {
  width: 360px;
}
.region-preface-second #block-views-destacados-block .block-inner,
.region-preface-third #block-views-noticias-block .block-inner {
  min-height: 380px;
}
#region-preface-third #block-imageblock-1 .block-body {
  left: 189px;
  top: 26px;
}
#region-preface-second .block-imageblock .block-body {
  left: -23px;
  top: 28px;
}
.headlines-wrapper {
  top: -70px;
  left: auto;
  right: -66px;
}
header {
  background:#fff;
}
h6.site-slogan {
  width:600px;
  top:34px;
}
#block-superfish-1 {
  margin: 20px 0 20px 0;
}
#zone-user-wrapper a {
  font-size: 10px;
}

.msgcookie{
  width:100%;
}
.msgcookie p{
  width:700px;
  padding:5px 0 0 30px;
}
.msgcookie p a.close{
  margin:10px 0 0 40px;
}

div#region-postscript-fifth.grid-3.region.region-postscript-fifth.equal-height-element.lastchild {
  width: 135px;
  overflow: hidden;
  margin-left: 21px;
}
#zone-postscript-wrapper .region-postscript-third, #zone-postscript-wrapper .region-postscript-third #block-block-1 {
  width: 130px;
}

#region-preface-first #block-blockify-blockify-breadcrumb {
  margin:35px 0 0 10px;
}
#region-preface-first #block-imageblock-5 {
  margin:19px 185px 0 0;
}

.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right .field-type-image{
  width:480px;
}
.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right .field-type-image .field-item{
  width:16%;
}
.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right iframe{
  width:500px;
}

#section-content #zone-content-wrapper #zone-content aside .block-noticias-block .views-row .views-field-field-image {
  display: block;
  clear: both;
  float: none;
  margin-bottom: 10px;
}

#node_tratamiento_full_group_text_intro {
  width: 240px;
}

#region-footer-first {
  margin-left:8px;
}

/* ========================================================================== */
