/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**** Font Face ***/
@font-face {
    font-family: 'HelveticaNeueLTStd77BdCn';
    src: url('helveticaneueltstd-bdcn-webfont.eot');
    src: url('helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-bdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-bdcn-webfont.svg#HelveticaNeueLTStd77BdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('helveticaneueltstd-cn-webfont.eot');
    src: url('helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-cn-webfont.svg#HelveticaNeueLTStd57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd47LtCn';
    src: url('helveticaneueltstd-ltcn-webfont.eot');
    src: url('helveticaneueltstd-ltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-ltcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-ltcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-ltcn-webfont.svg#HelveticaNeueLTStd47LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('helveticaneueltstd-lt-webfont.eot');
    src: url('helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd35Thin';
    src: url('helveticaneueltstd-th-webfont.eot');
    src: url('helveticaneueltstd-th-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-th-webfont.woff') format('woff'),
         url('helveticaneueltstd-th-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-th-webfont.svg#HelveticaNeueLTStd35Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'DevroyeRegular';
    src: url('DEVROYE_-webfont.eot');
    src: url('DEVROYE_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DEVROYE_-webfont.woff') format('woff'),
         url('DEVROYE_-webfont.ttf') format('truetype'),
         url('DEVROYE_-webfont.svg#DevroyeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*** Texts ***/
html {height:100%; width:100%;}
body {color:#333; font-family:'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-size:12px; line-height:1.5em; letter-spacing:normal; min-width:100% !important;}
h1, h2, h3, h4, h5, h6 {color:#222; font-family:'HelveticaNeueLTStd45Light', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-weight:normal; letter-spacing:normal; margin:0 0 15px 0;}
h1 {font-size:24px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
a:link, a:visited {color:#25b8ca; text-decoration:none;}
li a.active, a.active, a:hover {color:#00487F;}
p {margin:0 0 18px 0;}
strong {font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-weight:bold;}

/*** General ***/
body {background:#e0ece8 url(../images/bg-body-blue.jpg) repeat;}
.left {float:left;}
.right {float:right;}
ul.menu {list-style:none; margin:0; padding:0;}
ul.menu li {list-style:none; float:left; margin:0 10px 0 0; padding:0;}
.item-list ul li {margin:0 0 15px 0; padding:0;}
.transparent {background:none;}
.views-field-view-node a {font-size:10px; font-weight:normal; text-transform:uppercase;}
.more-link {float:right;}
.more-link a {display:block; font-size:10px; margin:15px 0 0 0; text-shadow:0 1px 0 #fff;}
.width-auto {overflow:hidden; width:auto;}
#zone-content .easy_social_box {float:none; background:#efefef; margin:0; padding:5px 10px;
-moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px;}
.feed-icon {background:#efefef; margin:10px 0 0; padding:5px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px;}

a.back-top {float:right; display:block; background:#00487F; color:#fff; text-shadow:none; position:absolute; right:0; padding:3px 10px; bottom:20px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

/**** General Layout ****/
    html, #page {width:100%; min-width:100%;}
   .front h1.page-title {display:none; text-indent:-9999em;}

   /**** Omega User Bars ****/
   #zone-user-wrapper {background:#222; padding:3px 0 3px;}
   #zone-user-wrapper a {font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; color:#ddd; font-size:11px; font-weight:normal;}
   #zone-user-wrapper a:hover, #zone-user-wrapper li.active-trail a, .node-type-article #zone-user-wrapper li:nth-child(5) a{color:#25b8ca;}

   /**** Header ***/
   #zone-branding-wrapper {background:#fff; height:125px;}
   #block-superfish-1 {margin:70px 0 0 0;}

      /*** Branding ***/
      .branding-data {float:left; width:121px;}
      .site-name {float:left; margin:5px 0 0 0;}
      .site-name a {background:url(../images/logo.png) 0 0 no-repeat; display:block; height:118px; text-indent:-9999em; width:115px;}
      h6.site-slogan {border-bottom:1px solid #ddd; color:#25B8CA; font-family:'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-size:11px; position:absolute; top:20px; right:10px; text-transform:uppercase; letter-spacing:.69em; padding-bottom:10px; text-align:right; width:644px;}

   /*** Zone Prefrace ***/
   #zone-preface {margin:0 auto 25px; width:100%; overflow:hidden;}
   .not-front #zone-preface {background: #fff url(../images/bg-zone-preface.png) 0 0 repeat-x; height:77px;}
   #zone-preface2 .block {margin:0 0 15px 0;}
   #zone-preface2 p {margin:0 0 5px 0;}

   .not-front #region-preface-first {background:none; display:block; float:none; height:75px; margin:0 auto; overflow:hidden; width:940px;}
   .front #region-preface-first {background:url(../images/bg-banner.jpg)0 0 repeat-x; float:left; margin:0 auto; width:100%;}
   #region-preface-first .block {margin:0;}
   .not-front #region-preface-first h2 {font-family:'HelveticaNeueLTStd35Thin', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; color:#fff; font-size:26px; font-weight:normal; letter-spacing:2px; margin:25px 0 0 0;}
   .not-front #region-preface-first p {display:none;}

   #region-preface-second .block .block-inner, #region-preface-third .block .block-inner {background:#fff; border:solid 14px #fff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
   #region-preface-second h2.block-title, #region-preface-third h2.block-title {font-size:14px; font-weight:normal; letter-spacing:5px; text-transform:uppercase; margin:0 0 15px 0;}
   #region-preface-second .block-imageblock h3, #region-preface-third .block-imageblock h3 {
   color:#fff;
   font-family:'HelveticaNeueLTStd77BdCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
   font-size:22px;
   font-weight:normal;
   margin:0 0 10px 0;
   text-shadow:0 0 2px #222;
   text-align:center;
   text-transform:uppercase;
   }

   #region-preface-second .block-imageblock h4, #region-preface-third .block-imageblock h4 {color:#fff; font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:18px; font-weight:normal; line-height:22px; letter-spacing:1px; margin:0 0 5px 0; text-transform:uppercase; text-shadow:0 1px 0 #333;}

   #region-preface-second .block-imageblock .block-inner, #region-preface-third .block-imageblock .block-inner {color:#fff; position:relative;}
   #region-preface-second .block-imageblock .block-body, #region-preface-third .block-imageblock .block-body {height:100px; left:20px; position:absolute; text-align:center; top:35px; width:390px;}
   #region-preface-second h3, #region-preface-third h3 {font-size:14px; margin:0 0 5px 0;}
   #region-preface-second h3 a, #region-preface-third h3 a {color: #00487f;}

      /*** Slideshow ***/
      .flex-nav-container {float:none; margin:0 auto; width:auto;}
      .flexslider {background:none; border:none; width:100%;}
      .flexslider ul.slides {margin:0 auto;}
      .flexslider ul div.slideshow-image {max-width:1200px; margin:0 auto;}

      .flexslider .slides > li.views-row-3 {background-color:#00b9ca;}
      .flexslider .slides > li.views-row-2 {background-color:#383328;}

      .headlines-wrapper {margin:0 auto; max-width:1200px; position:relative;}
      .flexslider h2, .flexslider h3 {color:#fff; background:rgb(0,0,0); background:rgba(0,0,0,.6); padding:10px; position:absolute; top:180px; right:140px; text-transform:uppercase;}
      .flexslider h2 {font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:26px; font-weight:normal; letter-spacing:0.05em; top:220px;}
      .flexslider h3 {font-size:11px; font-weight:normal; letter-spacing:2px;}

   /**** Zone Pre Postcript ***/
   #zone-pre-postscript {margin:0 auto 15px;}
   #zone-pre-postscript .grid-6 {width:460px; margin-right:0;}

   /**** Zone Postcript ***/
   #zone-postscript-wrapper {background:#00487f; color:#fff; font-size:10px; padding:20px 0;}
   #zone-postscript h2 {border-bottom:1px solid #0068b8; color:#fff; display:block; font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:13px; letter-spacing:normal; padding:0 0 10px; text-transform:uppercase;}
   #zone-postscript p {margin:0;}
   #block-easy-social-easy-social-block-1 .easy_social-widget {height:25px; margin-bottom:5px;}
   #block-easy-social-easy-social-block-1 .easy_social-widget-twitter {width:95px;}
   #block-block-1, #block-block-2 {
       width:220px;
   }

   #block-block-1 p, #block-block-2 p {font-size:13px;}

   /*** Zone Content and Aside ***/
   .not-front .region-content, .region-sidebar {background:#fff; padding:20px 0 0; box-shadow:0 0 5px #666; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin-bottom:15px;}
   .not-front .region-content {padding:0;}
   .region-content #block-system-main {padding:0;}

   .page-user .region-content #block-system-main,
   .context-users .region-content #block-system-main {padding:0 10px;}

   .region-sidebar .region-inner {padding:0 10px 15px;}
   .region-content #block-system-main .group_main_content{margin-top:10px; padding:0 10px;}
   .region-content {margin-bottom:15px;}
   .not-front .region-content h1, .not-front .region-content h1#page-title {color:#00487F; margin:20px 0 20px 10px;}
   .node-type-landing-page .region-content h1 {margin:0 0 20px;}
   .front #zone-content-wrapper .region-content h1 {display:none;}

   .group-header {background:#efefef; margin:0 0 15px 0; padding:15px 10px; text-shadow:0 1px 0 #fff; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; border-top-left-radius:10px; border-top-right-radius:10px;}
   .group-header h1 {color:#25B8CA;}

   /**** Footer Zone ***/
   #zone-footer-wrapper {padding:20px 0; position:relative;}
   #zone-footer {font-size:10px; text-shadow:0 1px 0 #fff;}
   #region-footer-first {margin-left:0;}
   #region-footer-second {margin-right:0;}


/**** Superfish Main Menu ***/
#block-superfish-1 li.sf-depth-1 {margin:0 0 0 15px;}
#block-superfish-1 li#menu-1050-1 {margin-left:40px; width:35px;}

#block-superfish-1 a.sf-depth-1 {color:#00A2CA; font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:16px; text-transform:uppercase; width:105px; text-shadow:0 1px 0 #fff;}

#block-superfish-1 li.active-trail a.sf-depth-1 {color:#008da4; font-family:'HelveticaNeueLTStd77BdCn','Helvetica Neue', 'Helvetica', Arial, sans-serif;}
#block-superfish-1 a:hover {color:#00487F;}
a.sf-depth-2, a.sf-depth-3  {font-family:'HelveticaNeueLTStd57Condensed', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:14px; font-weight:normal; text-transform:uppercase; text-shadow:0 1px 0 #fff;}

ul.sf-megamenu {
background:rgb(256,256,256);
background:rgba(256,256,256,.9);
border:1px solid #05bacb;
box-shadow:0 0 10px #333;
margin-top:15px;
padding:15px 0;
width:550px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}

#block-superfish-1 ul#superfish-1 {width:auto;}

li.sf-depth-2 {border-bottom:1px dotted #ddd; float:left; margin:0 10px 5px 0; padding:0 0 5px 0;}
li.sf-depth-3 {border-bottom:1px dotted #ddd; margin:0 0 5px 0;}

a.sf-depth-2.menuparent, .sf-menu ul li.sf-depth-2 a.sf-depth-2 {font-family:'HelveticaNeueLTStd77BdCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:14px; font-weight:normal; margin:0; text-transform:uppercase; text-shadow:0 1px 0 #fff;}
.sf-depth-2.sf-megamenu-column li.sf-depth-3 {margin:0 0 5px 0;}
.sf-depth-2.sf-megamenu-column li.sf-depth-3 a {font-size:11px;}

.sf-menu ul {background:#fff; box-shadow:0 0 10px #666; border:1px solid #00A2CA; padding:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}

.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
background-position: -10px 0;
}

.sf-menu ul a > .sf-sub-indicator {background-position:-10px 0;}

.sf-sub-indicator {height: 10px; right: 0; top:0;}
a > .sf-sub-indicator {top:2px; right:0;}
li.sf-depth-1 a.sf-depth-1 > .sf-sub-indicator {right:5px;}

#block-superfish-1 li#menu-1050-1 a.sf-depth-1 {overflow:hidden; width:auto;}

/*** Menu block ***/
.region-sidebar ul.menu li {float:none;}
.region-sidebar .block-menu-block .block-title {background:#00487F; font-family:'HelveticaNeueLTStd77BdCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-weight:normal; padding:5px; text-transform:uppercase;}
.region-sidebar .block-menu-block .block-title a:hover {color:#fff;}
.block-menu-block ul ul {margin:5px 0 0 0;}
.block-menu-block li a{color:#008da4; font-family:'HelveticaNeueLTStd77BdCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:14px; text-transform:uppercase;}
.block-menu-block li a:hover {color:#00487F;}
.block-menu-block li.expanded {margin:0 0 10px 0;}
.region-sidebar-first .block-menu-block li.expanded {float:none;}
.block-menu-block li.expanded ul li {float:none; list-style:none; list-style-image:none; margin:0 0 5px 10px;}
.block-menu-block li.expanded ul li a {font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; color:#25b8ca; text-transform:none;}
.block-menu-block li.expanded a:hover, .block-menu-block li.expanded a.active,
.block-menu-block li.expanded ul li a:hover, .block-menu-block li.expanded ul li a.active {color:#00487F;}

/*** Blocks en el Footer ***/
#block-block-4 {padding:2px 0 0 0;}
#block-block-4 p {margin:0 0 5px 0;}
.region-footer-second ul.menu li a {font-family:'HelveticaNeueLTStd57Condensed', 'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:12px; text-shadow:0 1px 0 #fff;}
#block-menu-block-6 {border-right:1px solid #999; padding-right:12px;}

/*** Breadcrumbs ***/
#region-preface-first #block-blockify-blockify-breadcrumb {margin:35px 0 0 0;}
.breadcrumb, .breadcrumb a {color:#fff; font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:15px; font-weight:bold; text-shadow:0 1px 0 #00487f;}
.breadcrumb {color:#ddd; font-weight:normal;}
.breadcrumb a:hover {color:#25b8ca;}
.front .breadcrumb {display:none; text-indent:-9999em;}

/*** Block banner cita previa home ***/
#region-preface-third #block-imageblock-1 .block-body {left:230px; top:38px; width:140px;}
#region-preface-third #block-imageblock-1 h3 {line-height:26px; letter-spacing:1px; margin:0 0 10px 0; text-align:left; width:140px;}

/*** Block Cita previa not-home ***/
#region-preface-first #block-imageblock-5 {margin:19px 10px 0 0;}

/*** Block Redes sociales ***/
#block-block-3 ul li {float:left; margin:0 10px 10px 0;}
#block-block-3 a.follow-link {display:block; background:url(../images/social-icons.png) 0 0 no-repeat;
height:20px; font-size:14px; padding: 4px 0 0 30px; width:60px; opacity:.7;}
#block-block-3 a:hover {color:#fff; opacity:1;}
#block-block-3 a.fb-link {background-position: 0 -24px;}
#block-block-3 a.ytube-link {background-position: 0 -48px;}
#block-block-3 a.rss-link {background-position: 0 -72px;}

/*** Block de blog ***/
.view-noticias-feed p{margin:0;}
.view-noticias-feed .item-list ul li {margin:0;}

/*** Landing Page ***/
.node-type-landing-page .region-content {margin:0 0 20px 0; padding-top:0; padding-bottom:0;}
.node-type-landing-page .region-content #block-system-main {padding:0;}
.node-type-landing-page .group-left {width:65%; padding:20px 20px 0 20px;}
.node-type-landing-page .group-right {width:30%;}
.node-type-landing-page .field-name-body {color:#333; font-size:14px; line-height:22px;}
.field-name-field-landing-lateral-image {float:right;}

.field-collection-container {border-bottom:none; margin-bottom:0;}
.node-type-landing-page .field-collection-view {border-bottom:none; margin:0; padding:0; overflow:hidden; width:280px;}
.field-collection-view .entity-field-collection-item {float:none;}
.field-name-field-section-menu .field-item {margin:0 10px 10px 0;}
.node-type-landing-page .field-collection-container .field-items .field-item {display:inline-block; float:left; margin-bottom:10px; overflow:hidden; width:280px;}

.node-type-landing-page .field-collection-view .field {float:left; margin:0 10px 0 0;}
.field-name-field-landing-enlaces-image {border:1px solid #008DA4;}
.field-name-field-landing-enlaces-image {float:left; margin-right:10px;}
.field-name-field-landing-enlaces {float:left; margin-right:0;}

.node-type-landing-page .block-menu-block h2 {
color:#008DA4;
font-family:'HelveticaNeueLTStd77BdCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
font-size:18px;
float:none;
margin:0 0 5px 0;
text-transform:uppercase;
}
.node-type-landing-page .block-menu-block h2 a {color:#25B8CA;}
.node-type-landing-page .block-menu-block h2 a:hover {color:#00487f;}

.node-type-landing-page .block-menu-block ul {list-style:none;}
.node-type-landing-page .block-menu-block ul li {
color:#008DA4;
display:block;
font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
font-size:18px;
float:none;
list-style:none;
list-style-image:none;
margin:0 0 5px 0;
margin:0;
text-transform:uppercase;
}

.node-type-landing-page .block-menu-block ul li a {font-family:'HelveticaNeueLTStd47LtCn', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-size:14px; text-transform:none;}

   /**** Node Landing & Page in Full Node 1 Columna ***/
   .node-type-landing-page .view-mode-full_node_1_columna .group-main-content{padding:0 10px;}
   .node-type-landing-page .view-mode-full_node_1_columna {color:#333;}

   .node-type-page .view-mode-full_node_1_columna p {color:#333;}

.region-footer-second ul.menu li {float:left; margin:0 0 0 9px;}
.region-footer-second ul.menu li a {color:#25B8CA; font-size:12px; text-transform:uppercase;}
.region-footer-second ul.menu li a:hover {color:#00487f;}


.region-footer-second #block-menu-menu-legal ul.menu li.first {margin:0;}

/**** Tratamiento full node ***/
.node-type-tratamiento h1.page-title {color:#fff; font-family:'HelveticaNeueLTStd45Light', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; margin:15px 0 10px 10px;}
.group_intro div {margin:0;}
.group_intro .group_imagen_intro {margin:0 15px 0 0; width:auto !important; max-width:300px;}
.group_intro {background:#00487f; color:#fff;}
.group_intro .field-name-field-imagen-intro img {height:auto; max-width:100%;}
.group_text_intro p{font-family:'HelveticaNeueLTStd45Light', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-size:14px; margin:0; padding:10px; line-height:22px;}

div.horizontal-tabs {border:none; border-top:1px solid #fff;}
.horizontal-tabs ul.horizontal-tabs-list {background:#00a2ca; border:none;}
.horizontal-tabs ul.horizontal-tabs-list li {background:#52bfda; border:none; margin:5px 3px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.horizontal-tabs ul.horizontal-tabs-list li a {color:#fff;}
.horizontal-tabs ul.horizontal-tabs-list li a, .horizontal-tabs ul.horizontal-tabs-list li.selected a {padding: 0.3em 0.6em 0.2em;}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {background:none; color:#00487f;}
.horizontal-tabs ul.horizontal-tabs-list .selected strong {color:#00487f;}
.horizontal-tabs ul.horizontal-tabs-list li:hover {background:#00487f;}
.horizontal-tabs ul.horizontal-tabs-list li:hover, .horizontal-tabs ul.horizontal-tabs-list li:focus {background-color: #fff;}

.horizontal-tabs ul.horizontal-tabs-list li.selected:hover, .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {background:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

.horizontal-tabs fieldset.horizontal-tabs-pane {padding:0;}
.horizontal-tabs .fieldset-wrapper {padding:0 10px;}
.field-name-field-tratamiento-galeria .field-item {float:left; margin:3px;}

.group_fotos_galeria {width:53%;}
.field-name-field-gallery-photo, .field-name-field-gallery-photo-2 {float:left; margin-right:5px;}

.field-name-field-gallery-description {padding-top:15px;}

/**** Generic page ***/
.group_text_image_1, .group-text_image_2 {margin:0 0 20px 0; overflow:hidden; width:auto;}
.group-col-left, .group-col-right {display:inline;}
.group-col-left {width:32%; margin-right:20px;}
.group-col-right {width:65%;}
.group-footer {float:none; overflow:hidden; width:auto;}

.group-col-left h2 {font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-weight:bold; color:#0068B8;}

.node-type-page .field-name-field-image, .node-type-page .field-name-field-image-2 {background:#efefef; overflow:hidden; padding:8px 10px 5px; width:575px;}
.node-type-page .field-name-field-image .field-item, .node-type-page .field-name-field-image-2 .field-item {background:#fff; border:1px solid #ddd; float:left; margin:0 5px 5px; padding:3px;}

.node-type-page .field-name-field-page-text-intro {color:#666; font-size: 14px; margin:0 0 20px 0; line-height: 22px;}

.block-equipo-block .block-inner {border:1px solid #ddd; padding:10px;}
.block-equipo-block ul li {float:left; height:110px; margin:0 10px 10px 0; overflow:hidden; width:270px;}
.views-field-field-doctor-image {margin:0 10px 0 0;}
.block-equipo-block h3 {font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:18px; margin:0 0 10px 0;}
.block-equipo-block ul li p {font-family:'Helvetica Neue', 'Helvetica', Arial, sans-serif; font-size:12px; font-style:italic; margin:0;}

/*** Testimonios ***/
.view-testimonios-block {background:url(../images/quotes.png) top left no-repeat;}
.view-testimonios-block .views-field-body {font-style:italic;}
.view-testimonios-block p {margin:0;}
.view-testimonios-block .view-field-autor {float:left; font-weight:bold;}
.view-testimonios-block .view-page-testimonios {float:right; font-size:10px; text-transform:uppercase;}

.view-testimonios-page ul li {background: #fffdf3 url(../images/quotes.png) 15px 20px no-repeat; border:1px solid #eae2d1; margin:0 20px 20px; overflow:hidden; width:auto; box-shadow:0 0 10px #ddd; outline:1px solid #fff;}
.view-testimonios-page .views-field-body {padding:20px 20px 0 100px;}
.view-testimonios-page p {color:#00487F; font-family:'DevroyeRegular', 'Georgia', 'Times', 'Times New Roman', serif; font-size:14px; line-height:22px; text-shadow:0 1px 0 #fff;}
.view-testimonios-page p:first-child:first-letter {float:left; font-size:45px; margin:10px 12px 0 0;}
.view-testimonios-page .views-field-field-autor-testimonio {border-top:1px dotted #eae2d1; clear:both; padding:20px; text-align:right;}
.view-testimonios-page .views-field-field-autor-testimonio strong {color:#00487F; font-family:'DevroyeRegular', 'Georgia', 'Times', 'Times New Roman', serif; font-size:14px; text-shadow:0 1px 0 #fff;}

/**** Noticias ***/
.view-noticias-block .item-list ul {margin:0;}
.view-noticias-block .item-list ul li {border-bottom:1px dotted #e4dfcf; margin:0 0 10px 0; overflow:hidden; padding-bottom:10px; width:auto;}
.view-noticias-block .item-list ul li.views-row-last {border-bottom:0; margin:0; padding:0;}
.view-noticias-block .views-field-field-image {margin:5px 10px 0 0;}
.view-noticias-block p {margin:0;}

.view-noticias-page ul {padding:0 10px;}
.view-noticias-page ul li {border-bottom:1px dotted #ddd; margin:0 0 20px 0; overflow:hidden; width:auto;}
.view-noticias-page ul li.views-row-last {border-bottom:0; margin:0; padding:0;}
.view-noticias-page ul li h2 {font-size:18px; margin:0 0 5px 0;}
.view-noticias-page ul li h2 a {color:#25B8CA;}
.view-noticias-page ul li h2 a:hover {color:#00487F;}
.view-noticias-page ul li .post-date {color:#999; margin:0 0 15px 0;}
.view-noticias-page .field-name-field-image {float:left; margin:0 10px 10px 0;}
#zone-content .view-noticias-page .easy_social_box {background:none; margin:10px 0; padding:0;}

.node-type-article .field-name-field-image, .node-type-destacado .field-name-field-image {margin:0 0 15px 0;}
.node-type-article h1,  .node-type-destacado h1 {margin:0 0 10px 0;}
.node-type-article .field-name-post-date, .node-type-destacado .field-name-post-date {background:#25B8CA; color:#fff; margin:0; padding:7px 10px 5px;}
.node-type-article .field-name-body {overflow:hidden;}
.node-type-article .field-name-field-tags, .node-type-destacado .field-name-field-tags {border-top:1px dotted #ddd; margin:15px 0; padding:15px 0 0 0;}
.node-type-article .field-name-field-tags .field-item {margin:0 5px 0 0;}
.node-type-article .field-name-field-tags .field-item:after {content: ",";}
.node-type-article .field-name-field-tags .field-item:last-child:after {content: "";}
.node-type-destacado .group-footer h3 {display:none;}

/*** Page Content Type ***/
.group_banner {margin:0 0 15px 0;}
.field-name-field-page-text-intro p {color:#00487F;}
.node-type-page .group-col-left {width:70%;}
.node-type-page .group-col-right {width:27%;}

.page-node-29 .group-col-left {width:27%;}
.page-node-29 .group-col-right {width:70%;}

.node-type-page .group-footer {width:100%;}

#block-block-6, #block-block-7, #block-block-8, #block-block-9 {background:#00487F; font-weight:bold; margin:0 0 15px 0; padding:5px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#block-block-6 p, #block-block-7 p, #block-block-8 p, #block-block-9 p {font-family:'HelveticaNeueLTStd57Condensed', 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif; font-size:18px; font-weight:normal; margin:0; text-transform:uppercase; text-shadow:0 1px 0 #222; text-align:center;}
#block-block-6 p a:hover, #block-block-7 p a:hover, #block-block-8 p a:hover, #block-block-9 p a:hover {color:#fff; text-shadow:none;}

   /*** Equipo ***/
   .node-type-ficha-de-doctor .group-col-left {width:27%;}
   .node-type-ficha-de-doctor .group-col-right {width:70%;}
   .view-equipo-page {padding:0 10px 10px;}
   .view-equipo-page .item-list {border-bottom:1px solid #ddd; padding-top:20px;}
   .view-equipo-page ul {margin-left:30px;}
   .view-equipo-page ul li.views-row {border-bottom:1px solid #ddd; margin:0 0 20px 0; overflow:hidden; padding:0 0 10px 0; width:auto;}
   .view-equipo-page ul li.views-row-last {border-bottom:none; margin:0; padding:0;}
   .view-equipo-page .views-field-field-doctor-image {margin:0 20px 0 0;}
   .view-equipo-page div.item-list h3 {font-size:20px;}
   .view-equipo-page ul li h3 {margin:0 0 5px 0; border-bottom:none;}
   .view-equipo-page ul li h3 a{font-size:18px;}
   .view-equipo-page ul li .especialidad {font-style:italic; font-size:12px; margin:0 0 10px 0;}
   .view-equipo-page ul li p {margin:0;}
   .view-equipo-page .more-link a {background:none; display:inline; font-size:10px; margin:0; padding:0; text-transform:uppercase;}
   .node-type-ficha-de-doctor .region-content h1 {color:#00487F; margin:20px 0 15px 0;}
   .field-name-field-doctor-especialidad, .field-name-field-personal-especialidad {font-size:12px; font-style:italic;}

   .node-type-ficha-de-doctor .group-col-left img {height:auto;}

   /*** Node Type Personal ***/
   .node-type-personal .field-collection-container .field-items .field-item {margin-bottom:0; padding-bottom: 10px;}
   .node-type-personal .group_personal_foto {width:28%;}
   .node-type-personal .group_personal_datos {width:70%;}
   .node-type-personal .section-content h2 {color:#00487F; margin:0 0 10px 0;}
   .node-type-personal .field-name-body {padding:0 10px;}
   .node-type-personal .field-collection-view img {height:auto;}

/*** Webform ***/
.form-item, .form-actions {margin:1.5em 0;}
input[type="text"],input[type="password"], input[type="email"], input[type="number"], select, textarea {border:1px solid #ccc; border-radius:5px;}
input:focus, select:focus, textarea:focus {border:1px solid #efefef; box-shadow:0 0 5px #ccc; color:#666;}
button, input[type="reset"], input[type="submit"], input[type="button"] {background:#ddd; border-radius:5px;}

.node-type-webform .block-system-main .block-inner {padding:0 10px 10px;}
.node-type-webform .webform-container-inline label {display:block; float:left; margin:0 10px 0 0; text-align:right; width:130px;}
.webform-component-email .description {color:#666; margin:5px 0 0 140px;}

#webform-component-asunto {overflow:hidden; width:100%;}
#edit-submitted-asunto {float:left; width:70%;}
.node-type-webform .webform-container-inline .form-item-submitted-asunto {float:left; overflow:hidden; width:auto;}
.node-type-webform .webform-container-inline .form-item-submitted-asunto label,
.node-type-webform .webform-container-inline .form-item-submitted-asunto input {display:inline-block; float:none; text-align:left;}

#webform-component-mensaje {overflow:hidden; width:100%;}
#webform-component-mensaje label {float:left; margin:0 10px 0 0; text-align:right; width:130px;}
#webform-component-mensaje .form-textarea-wrapper {float:left; width:41%;}
.context-contacto-y-cita-previa #webform-component-politica-de-confidencialidad {margin-left:140px;}
.context-contacto-y-cita-previa #edit-actions {margin:25px 0 25px 140px;}

/*** Search ***/
#edit-search-block-form--2 {background:#bbb; border:none; color:#333; height:19px;-moz-border-radius:0;-webkit-border-radius:0; border-radius:0;}
#edit-search-block-form--2:focus {color:#222;}
#search-block-form .form-submit {background:#999; border:none; color:#222; text-shadow:0 1px 0 #ccc;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
padding:2px 10px 2px;
}
#search-block-form .form-submit:hover {background:#ddd;}
#search-form {background:#ddd; padding:15px 10px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px;}
#search-form label {text-shadow:0 1px 0 #fff;}

.page-search h2 {color:#00487F; font-size:22px; padding:0 10px;}
.page-search .search-results{padding:0 10px 10px;}
.page-search .search-results li {border-bottom:1px solid #ddd; padding-bottom:10px;}
.page-search .search-results li:last-child {border:none; padding-bottom:0;}
.search-result strong {background:#efefef; color:#222; padding:2px 5px; text-shadow:0 1px 0 #fff;}

/**** Block Site by ***/
/*#block-block-10 {margin:15px 0 0 0;}
#block-block-10 {float:right; color:#999;}
#block-block-10 a {color:#999;}
#block-block-10 a:hover {color:#222;}
*/
/**** View filters ***/
.view-filters {background:#efefef; margin:10px; padding:10px;}


/*** Page sencilla ***/
#colorbox {background:#fff !important;}
#cboxContent {margin:0;}
#cboxLoadedContent .node-pagina-sencilla {padding:20px;}
#cboxLoadedContent .node-pagina-sencilla .node-title {display:none;}
#cboxTitle {display:none !important;}

.view-frontpage .view-content {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; padding:20px;}
.view-frontpage .views-row {
    border:1px solid #ddd;
    border-radius:10px;
    padding:10px;
    margin:0 0 30px 0;
}

#zone-content .view-frontpage .easy_social_box {
    background:#efefef;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

#block-block-1 .mobile-phone a:hover,
#block-block-2 .mobile-phone a:hover {color:white;}

.page-node-3 .mobile-phone a:hover {color:#00487F;}
.page-node-3 .field-name-body p,
.page-node-3 .field-name-body a {font-size:14px;}

.desktop-phone {display:none;}

img {max-width:100%; height:auto;}


/* grid  */
body.show-grid .container-12 {
  background: url(960/grid960.png) repeat-y top center !important;
}

/* ==========================================================================
   Iván (Devtopía): Se comentan los mediaqueries porque se han creado CSS
   específicos para tablet (global_tablet.css) y mobile (global_mobile.css).
   ========================================================================== */
/*@media only screen and (max-width: 1024px) {
    #zone-user, #zone-branding {
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding-left:3%;
        padding-right:3%;
        width:100%;
    }
    #zone-preface2,
    #region-preface-first,
    .not-front #region-preface-first,
    #zone-content,
    #zone-pre-postscript,
    #zone-postscript,
    #zone-footer {
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        margin-left:auto;
        margin-right:auto;
        width:95%;
        max-width:1010px;
    }
    #region-user-first,
    #region-branding,
    #region-content,
    #region-pre-postcript {
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        margin-left:auto;
        margin-right:auto;
        width:100%;
    }

    #region-preface-second, #region-preface-third,
    #zone-pre-postscript #block-imageblock-3, #zone-pre-postscript  #block-imageblock-4 {width:47%;}

    #zone-branding-wrapper {height:auto;}
    #block-superfish-1 {
        display:table;
        margin:10px auto;
        float:none;
    }

    #zone-postscript .region {width:21%;}
    #block-block-1, #block-block-2 {width:auto;}
    .branding-data {float:none; width:100%;}
    .site-name {display:table; margin:20px auto 0; float:none;}
    h6.site-slogan {
        float:left;
        position:relative;
        top:auto;
        left:auto;
        margin:20px auto;
        text-align:center;
        width:100%;
    }

    #block-search-form, #block-menu-menu-secundario {display:table; margin:5px auto; float:none; width:auto;}

    #region-footer-first {
        float:none;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }
    #region-footer-first .block-block {float:none;}
    #region-footer-first p {text-align:center;}
    #region-footer-second {
        float:none;
        width:100%;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
    }
    #region-footer-second .block {
        display:table;
        float:none;
        margin-left:auto;
        margin-right:auto;
    }
    #region-footer-second #block-menu-block-6 {border:none;}

    .responsive-layout-mobile #region-sidebar-first {width:100%;}
    .responsive-layout-narrow #region-sidebar-first {width:20%;}
    .responsive-layout-narrow #region-content {width:77%;}
}*/

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .mobile-phone a {display:inline-block; color:red;}
    .desktop-phone {display:none;}
}*/

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {
    .mobile-phone {display:none;}
    .desktop-phone {display:inline-block;}
}
*/
/* ========================================================================== */
/* ==========================================================================
   Iván (Devtopía) - Responsive
   ========================================================================== */

#wrap {
  /*border: 2px solid red;*/
  overflow: hidden;
  display:block;
  position:initial;
}

#page {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Menu Responsive ------ */
#responsive-panel {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -260px;
  width: 260px;
  min-height: 100%;
  -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  background: #ABC8E2;
  z-index: 99;
}

.open-responsive #responsive-panel {
  left: 0;
}

.open-responsive #page {
  left: 258px;
  -webkit-backface-visibility: hidden;
}


/* General y Primer nivel */
#responsive-panel ul {
  -webkit-transform: translateZ(0);
}
#responsive-panel li {
  display: block;
  margin:0;
  padding:0;
  -webkit-transform: translateZ(0);
}
#responsive-panel ul li a{
  background:#ABC8E2;
  display: block;
  padding: 15px;
  color: #375D81;
  font-family: 'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  border-bottom:1px solid #6F97A3;
  position:relative;
  pointer:cursor;
  -webkit-transform: translateZ(0);
}
#responsive-panel ul li a.active{
  background:#375D81;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
#responsive-panel ul li a.active:after{
  right: 0%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}
#responsive-panel a.closed:before {
  top: 45%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #375D81;
  border-width: 8px;
  margin-top: -8px;
}
#responsive-panel a.open:before {
  top: 45%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #375D81;
  border-width: 8px;
  margin-left: -8px;
}

/* Segundo nivel */
#responsive-panel ul li ul li a{
  background:#C4D7ED;
  padding-left: 30px;
}
/* Tercer nivel */
#responsive-panel ul li ul li ul li a{
  background:#E1E6FA;
  padding-left: 40px;
}
/* Cuarto nivel */
#responsive-panel ul li ul li ul li ul li a{
  background:#F5F7FF;
  padding-left: 50px;
}

/* Menu secundario */
#responsive-panel .secondary-responsive {
  border-top:10px solid #6F97A3;
}
#responsive-panel .secondary-responsive li.off {display:none;}

#responsive-panel .secondary-responsive li a {
  background:rgba(255, 255, 255, 0.69);
  color:#1A3249;
}

/* ========================================================================== */

/* ==========================================================================
   Desktop Override
   ========================================================================== */

/* HOME - GENERAL */
.togglenav {
  display:none;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-indent: -9999px;
  background: url(../images/responsive-menu-icon.png) no-repeat 0px 0px;
}

h6.site-slogan {
  border-bottom: 1px solid #ddd;
  color: #25B8CA;
  font-family: 'Helvetica Neue Light', 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-bottom: 0px;
  text-align: left;
  width: 644px;
  line-height: 25px;
  padding-top: 36px;
  height: 23px;
}
h6.site-slogan span {
  display: inline-block;
  float: right;
  width: 140px;
  margin-left: 20px;
  font-family: 'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-transform: uppercase;
  line-height: 22px;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 9px;
  color:#00A2CA;
  border-right: 13px solid #00A2CA;
  padding-right: 7px;
}
h6.site-slogan span a,
h6.site-slogan span a:hover {
  font-family: 'HelveticaNeueLTStd47LtCn', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color:#00A2CA;
}

#block-menu-block-6 {
  width: 480px;
  border-right: none;
}

#node_tratamiento_full_group_imagen_intro {
  width: auto;
  max-width: 300px;
  margin-right: 0px;
}
#node_tratamiento_full_group_text_intro {
  margin-right: 0px;
  margin-left: 10px;
  position: relative;
  left: 0px;
  width: 340px;
}
#node_tratamiento_full_group_text_intro h1.page-title {
  color:#00487F;
  margin-left:0px;
  line-height: 23px;
}
.not-front .region-content h1,
.not-front .region-content h1#page-title {
  line-height: 23px;
}

/*Margenes*/
#node_page_full_group_main_content,
#node_destacado_full_group_main_content,
#node_article_full_group_main_content,
#node_page_full_node_1_columna_group_main_content {
  padding: 10px;
  display: block;
  overflow: hidden;
}

.group-tratamiento-tabs .horizontal-tabs-panes {
  padding-top: 10px;
}

/* zone-postscript */
#block-block-1, #block-block-2, #block-block-11 {
  width:220px;
}
#block-block-1 {
  width:140px;
}
#block-block-1 p, #block-block-2 p, #block-block-11 p {font-size:13px;}

#block-block-3 a.follow-link {
  padding: 4px 0 0 12px;
  width: 24px;
  text-indent: -9999px;
}
#block-block-3 a.fb-link {
  background-position: 5px -24px;
}
#block-block-3 a.gplus-link {
  background-position: 0px -121px;
}

/* cookie message */
.msgcookie{
  display:block;
  position:relative;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background:#FFEE98;
  color:#57411B;
  font-size:11px;
  font-family:sans-serif;
  z-index: 99;
}
.msgcookie p{
  width:960px;
  margin:0 auto;
  background:url(../images/cookie.png) 0 3px no-repeat;
  padding:15px 0 0 30px;
}
.msgcookie p a:link,
.msgcookie p a:active,
.msgcookie p a:visited {color:#8a6d3b; text-decoration: none; font-weight: bold; opacity:0.8;}
.msgcookie p a:hover{color:#57411B; text-decoration: underline; opacity:1;}
.msgcookie p a.close{
  float:right;
  display:block;
  width:16px;
  height:50px;
  background:url(../images/cookie.png) 0 -358px no-repeat;
  overflow:hidden;
  text-indent:-2000px;
  opacity:0.3;
  margin:0 0 0 40px;
}
.msgcookie p a.close:hover{opacity:1;}

/* otros */
#field_collection_item_field_personal_profesional_full_group_personal_foto {
  margin-right: 10px;
}


