/* ======================================================================================================================== 
** 
** Variable Grid System (Fluid Version).
** Learn more ~ http://www.spry-soft.com/grids/
** Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
** 
** Licensed under GPL and MIT.
**
** ======================================================================================================================== */
body {
  min-width: 95%;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-12 {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 .grid-1,
.container-12 .grid-2,
.container-12 .grid-3,
.container-12 .grid-4,
.container-12 .grid-5,
.container-12 .grid-6,
.container-12 .grid-7,
.container-12 .grid-8,
.container-12 .grid-9,
.container-12 .grid-10,
.container-12 .grid-11,
.container-12 .grid-12 {
  width: 98.0%;
}

.align_center,
.align_right {
  text-align: left;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* grid  */
body.show-grid .container-12 {
  background: url(960/gridmobile.png) repeat-y top center !important;
}

/* ==========================================================================
   Mobile Override
   ========================================================================== */
html {
  -webkit-text-size-adjust: none;
}
.togglenav {
  display:block;
  position: absolute;
  top: 0px;
  left: 0px;
}
#zone-user-wrapper .block-menu,
#zone-menu-wrapper,
#block-superfish-1,
#zone-preface-wrapper #zone-preface,
#zone-preface2 #block-imageblock-6,
#zone-preface2 #block-imageblock-1,
#zone-preface2 #block-views-noticias-block,
#zone-preface2 #block-views-noticias-feed-block,
#zone-pre-postscript,
footer #region-footer-second .block-menu-block
 {
  display:none;
}
#zone-preface-wrapper {
  display:block;
  width: 100%;
  height:250px;
  background: url(../images/static_banner.png) no-repeat 0px 0px;
  background-size: 100%; 
  margin-bottom:20px;
}
.orientation-portrait #zone-preface-wrapper {
  height:150px;
}
.not-front #zone-preface-wrapper {
  display:none;
}

#zone-pre-postscript .grid-6 {
  width: 300px;
}
#zone-pre-postscript img{
  width: 90%;
  margin-bottom:10px;
}

h6.site-slogan {
  width:152px;
  top:36px;
  text-indent: -9999px;
}

header {
  padding-bottom: 10px;
  background: #fff;
  margin-bottom: 0px;
}
.not-front header {
  margin-bottom: 20px;
}

/*.region-preface-second #block-views-destacados-block .block-inner,
.region-preface-third #block-views-noticias-block .block-inner {
  min-height: 400px;
}
*/

#zone-postscript .region {
  margin-bottom: 20px;
}

#zone-user-wrapper .region-inner {
  position: relative;
  height: 40px;
}
#zone-user-wrapper #block-search-form {
  position: relative;
  top: 10px;
}

aside.grid-3 {
  display:none;
}

#node_tratamiento_full_group_text_intro {
  left: 6px;
  width: 95%;
}

#node_page_full_group_main_content .field-item,
#node_page_full_group_main_content .field-item p,
#node_page_full_group_main_content p,
#node_page_full_group_main_content .group-col-left,
#node_page_full_group_main_content,
.node-type-page .group-col-left,
.node-type-page .group-col-right {
  width: 95%;
}
.node-type-page .field-name-field-page-text-intro,
.node-type-page .field-name-field-page-text-intro .field-item,
.node-type-page .field-name-field-page-text-intro .field-item p,
.node-type-page .field-name-field-page-text-intro p,
#node_page_full_group_main_content .field-name-field-page-text-intro p{
  width: 95%;
}

.msgcookie{
  width:100%;
  height:auto;
}
.msgcookie p{
  width:80%;
  padding:5px 0 5px 30px;
  font-size: 16px;
  line-height: 19px;
}
.msgcookie p a.close{
  margin:10px 0 0 40px;
}

.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right .field-type-image{
  width: 95%;
}
.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right .field-type-image .field-item{
  width: 38%;
}
body.orientation-landscape.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right .field-type-image .field-item{
  width: 15%;
}
.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right iframe{
  width: 114%;
}
body.orientation-landscape.node-type-page .region-content-inner .ds-1col #node_page_full_group_main_content .group-col-right iframe{
  width: 111%;
}

#node_ficha_de_doctor_full_group_main_content {
  padding:10px;
}

.view-testimonios-page ul li {background-size:30px 30px;}
.view-testimonios-page .views-field-body {padding:20px 20px 0 50px;}

.node-type-webform .webform-container-inline label {
  text-align: left;
}
.node-type-webform .webform-container-inline #edit-submitted-nombre,
.node-type-webform .webform-container-inline #edit-submitted-e-mail {
  width: 80%;
}

/* ========================================================================== */

/* ==========================================================================
   Font sizes
   ========================================================================== */

#region-preface-second h2.block-title, #region-preface-third h2.block-title {
  font-size: 18px;
}
#region-preface-second h3, #region-preface-third h3 {
  font-size: 18px;
  line-height: 20px;
}
#zone-preface2 p {
  font-size: 16px;
  line-height: 18px;
}
.view-testimonios-block .view-page-testimonios,
.views-field-view-node a,
.view-equipo-page .more-link a {
  font-size: 13px;
}
.node-type-page .field-name-field-page-text-intro,
.view-equipo-page div.item-list .views-field-body,
.view-equipo-page div.item-list .views-field-body p,
.node-type-personal .field-type-text-with-summary,
.node-type-personal .field-name-field-personal-bio,
#node_tratamiento_full_group_text_intro,
#node_tratamiento_full_group_text_intro p,
.node-tratamiento .field-group-htabs fieldset.horizontal-tabs-pane,
.node-tratamiento .field-group-htabs fieldset.horizontal-tabs-pane p {
  font-size: 16px;
  line-height: 24px;
}
#node_page_full_group_main_content .field-item, #node_page_full_group_main_content .field-item p, #node_page_full_group_main_content p, #node_page_full_group_main_content .group-col-left, #node_page_full_group_main_content, .node-type-page .group-col-left, .node-type-page .group-col-right {
  font-size: 16px;
  line-height: 24px;
}

/* ========================================================================== */